name: Run unit tests

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
    workflow_dispatch:

permissions:
    contents: read
    pull-requests: read
    issues: write
    checks: write

jobs:
    run-unit-tests:
        runs-on: macos-latest
        steps:
            - name: Check out Git repository
              uses: actions/checkout@v4
              with:
                fetch-depth: 0
              timeout-minutes: 6

            - name: List available simulators
              run: xcrun simctl list devices available

            - name: Run unit tests
              run: |
                  xcodebuild test \
                    -project DebuggingChallenge.xcodeproj \
                    -scheme DebuggingChallenge \
                    -destination 'platform=iOS Simulator,name=iPhone 15' \
                    -quiet
              timeout-minutes: 10
